@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brand</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item big"><a href="index.html"><strong>Maintenance</strong></a></li>
    <li class="breadcrumb-item active big"><strong>Brands</strong></li>
</ol>

<style>
    .big {
        font-size: 1.25em;
        color: black !important;
    }
</style>
<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> <strong>List Brands</strong>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="openModal(null)">Create New Brand</button>
            </div>
        </div>

        <hr />

        <table id="table" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="text" value="0" autocomplete="off" />

                <div class="row g-1">

                    <div class="col-sm-6">
                        <label for="textDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="textDescription" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactive" class="form-label">Active</label>
                        <select id="cboactive" class="form-select">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <!--Message Alert-->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="messageError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tabledata;
        var filaseleccionada;

        tabledata = $("#table").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                 url: '@Url.Action("ListBrands", "Brand")',
                 type: "GET",
                 dataType: "json"
            },
            "columns": [
                { "data": "Description" },
                {
                    "data": "Active", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Yes</span>'
                        }
                        else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen"></i></button> '+
                        '<button type="button" class="btn btn-danger btn-sm m-2 btn-delete"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ]
        });

        function openModal(json)
        {
            $("#txtid").val(0);
            $("#textDescription").val("");
            $("#cboactive").val(1);

            $("#messageError").hide();

            if (json != null)
            {
                $("#txtid").val(json.BrandId);
                $("#textDescription").val(json.Description);
                $("#cboactive").val(json.Active == true? 1 : 0);
            }

            $("#FormModal").modal("show");

        }
        //edit
        $("#table tbody").on("click", '.btn-edit', function ()
        {
            filaseleccionada = $(this).closest("tr");
            var data = tabledata.row(filaseleccionada).data();
            openModal(data);
        });

        //delete
        $("#table tbody").on("click", '.btn-delete', function ()
        {
            var brandselection = $(this).closest("tr");
            var data = tabledata.row(brandselection).data();
            swal({
                title: "Are you sure?",
                text: "Do you want to delete the brand?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function ()
            {
                jQuery.ajax({
                    url: '@Url.Action("DeleteBrand", "Brand")',
                    type: "POST",
                    data: { brandId: data.BrandId },
                    dataType: "json",
                    contentenType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                        if (data.result)
                        {
                            tabledata.row(brandselection).remove().draw();
                        }
                        else
                        {
                            swal("Can't delete brand", data.message, "error")
                        }
                    },
                    error: function (error)
                    {
                        console.log(error)
                    },
                    beforeSend: function ()
                    {

                    }
                })
            });
            console.log(data);
        });


        function Save()
        {
            var Brand =
            {
                BrandId: $("#txtid").val(),
                Description: $("#textDescription").val(),
                Active: $("#cboactive").val() == 1 ? true : false,
            }

            jQuery.ajax(
            {
                    url: '@Url.Action("SaveBrand", "Brand")',
                    type: "POST",
                    data: Brand,
                    dataType: "json",
                    contentenType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                        $(".modal-body").LoadingOverlay("hide");


                        //BRAND NOW
                        if (Brand.BrandId == 0)
                        {
                            if (data.result != 0)
                            {
                                Brand.BrandId = data.resultt;
                                tabledata.row.add(Brand).draw(false);
                                $("#FormModal").modal("hide");
                            }
                            else
                            {
                                $("#messageError").text(data.message);
                                $("#messageError").show();
                            }
                        }

                        //BRAND EDIT
                        else
                        {
                            if (data.result)
                            {
                                tabledata.row(filaseleccionada).data(Brand).draw(false)
                                filaseleccionada = null;
                                $("#FormModal").modal("hide");
                            }
                            else
                            {
                                $("#messageError").text(data.message);
                                $("#messageError").show();
                            }
                        }
                    },
                    error: function (error)
                    {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#messageError").text("Error Ajax");
                        $("#messageError").show();
                    },
                    beforeSend: function ()
                    {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizaFactor: 2,
                            text: "Loading...",
                            size: 14
                        })

                    }
            });
        }
    </script>
}
